footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 10px;
    margin-left: 400px;
  }
  
  footer span {
    font-weight: bold;
    color: #007bff;
  }
  