/* Mail.css */
.mail-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }
  
  .sidebar-left, .sidebar-right {
    width: 20%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  
  .main-content {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
  }
  